<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title>"Mn/DOT HyperStream - Change Password"</title>
	<link rel="stylesheet" type="text/css" href="/video/css/standard.css" />
</head>
<body>
<div class='mndot_body'>
#parse( "video/header.html" )

	<center><h2>Change Password</h2></center>
	<br/>
	<form name="loginForm" method="post" action="/video/client/changePassword">
	<br/>
	<table class='mndot_table'>
		<tr>
			<td>UserName:</td>
			<td><strong>$!userName</strong></td>
		</tr>
		<tr>
			<td>
				<label>New Password</label>
			</td>
			<td>
				<input name="pwd" value="" type="password" size="20" maxlength="20"/>
			</td>
			<td>
				(minimum length = $!minPwdLength )
			</td>
		</tr>
		<tr>
			<td>
				<label>Confirm New Password</label>
			</td>
			<td>
				<input name="confirm" value="" type="password" size="20" maxlength="20"/>
			</td>
		</tr>
		<tr>
			<td>
				<button type="submit">Submit</button>
			</td>
		</tr>
	</table>
</form>
</body>
#parse( "video/footer.html" )
</div>
</html>
