<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title>"Mn/DOT HyperStream - Change Password"</title>
	<link rel="stylesheet" type="text/css" href="/video/css/standard.css" />
</head>
<body>
<div class='mndot_body'>
#parse( "video/header.html" )
	<center><strong><font size="+1">
		Your request was processed successfully.<br>
	</font></strong></center>
	<br>
	Message: $!msg
#parse( "video/footer.html" )
</div>
</body>
</html>